@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Poppins:wght@400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
html{
  font-family: 'Roboto', sans-serif;
}
:root{
  --primary:#000;
  --secondary:rgb(24 24 27);
  --border:rgba(63,63,70,0.4);
  --title:rgb(244 244 245);
  --subtitle:rgb(161 161 170);
  --bgheader:rgb(39 39 42);
  --blue:rgb(93 188 252);
}
.flex{
  display: flex;
  align-items: center;
}
.border{
  border: red solid 1px;
}
body{
  background-color: var(--primary);
  color: #fff;
}
*{
  margin: 0;
  padding: 0;
}
.container{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--secondary);
  border: var(--border) solid 2px;
}
.divider{
  border-bottom:solid 1px var(--border);
  margin: 3rem 0;
}
ul{
  list-style: none;
}
ul li a {
  text-decoration:none;
  color: initial;
  transition: 0.2s;
}